:root {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}

.App {
    margin: 0 auto;
    width: 317px;
    font-weight: 400;
    background-color: #1A1B21;
    color: white;
    border-radius: .75rem;
}

header img {
    margin-bottom: 1em;
}

header h1,
header h4,
header p {
    text-align: center;
    margin-top: 0;

}

h1,
h2 {
    font-weight: 700;
}

header h1 {
    font-size: 1.625rem;
    margin-bottom: .375rem;
}

header h4 {
    font-size: .875rem;
    color: #F3BF99;
    margin-bottom: .5rem;
    font-weight: 400;
}

p {
    font-size: .625rem;
    line-height: 1rem;
}

/* .about {
    padding: 0 1rem;
} */

.about,
.interests {
    margin: 0 auto;
    padding: 0 1rem;
    width: 240px;
}

.about h2,
.interests h2 {
    font-size: 1.25rem;
    margin-bottom: 0;
    margin-top: 1.25rem;
}

.about p,
.interests p {
    margin-top: .3625rem;
}

.contact-buttons {
    display: flex;
    justify-content: center;
}


.button {
    border-radius: .5rem;
    width: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    margin: 0 .5rem;
}

.button:hover,
.button:active {
    filter: brightness(80%);
}

.button p {
    font-size: .8125rem;
}

.button p,
.button img {
    margin: auto 0;
}

.button img {
    margin-right: .5rem;
}

.contact-buttons a {
    text-decoration: none;
    color: inherit;
}

.contact-buttons .mail {
    background-color: white;
    color: #374151;

}

.contact-buttons .linkedIn {
    background-color: #5093E2;
}

Footer {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 1.5rem;
    margin: auto .75rem;
}

.icon:hover,
.icon:active {
    filter: brightness(120%);
}